---
const { title } = Astro.props;


let currentUrl = Astro.request.url
---

<style>
    hr {
        margin-top: 200px;
    }
</style>

<footer>
    <div class="container">

        <hr />
        <h1>FOOTER</h1>
        <a class={"btn " + (currentUrl.includes('/menu') ? "btn-secondary" : "btn-outline-secondary")} href="/comentarios">Comentarios</a>
    </div>
   
</footer>
