---
const { title } = Astro.props;


let currentUrl = Astro.request.url
---

<style>
    header {
        margin: 0px 0 40px 0;
        padding: 10px;
        background-color: #dadde3;
        border: 1px  solid black;
        background-image: url("/banner.jpg");
        background-size: cover;

    }
    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h1 {
        font-size: 2rem;
    }
    
    ul li {
        display: inline-block;
        margin-right: 20px;
        margin-top: 10px;
    }
</style>
<header>
    <div>
        <h1 style="color: white; border: 1px solid white;">ZY EAT</h1>
        <ul>
            <li>
                <a class={ "btn " + (currentUrl.endsWith('/') ? "btn-secondary" : "btn-outline-secondary")} href="/">Home</a>
            </li>
            <li>
                <a class={"btn " + (currentUrl.includes('/menu') ? "btn-secondary" : "btn-outline-secondary")} href="/menu">Menu</a>
            </li>
            <li>
                <a class={"btn " + (currentUrl.includes('/menu') ? "btn-secondary" : "btn-outline-secondary")} href="/menu_semanal">Menu Semanal</a>
            </li>
            <li>
                <a class={"btn " + (currentUrl.includes('/menu') ? "btn-secondary" : "btn-outline-secondary")} href="/carta">Carta</a>
            </li>
            <li>
                <a class={"btn " + (currentUrl.includes('/menu') ? "btn-secondary" : "btn-outline-secondary")} href="/reserva">RESERVA</a>
            </li>
        </ul>

    </div>
</header>

